body {
    margin: 0px;
    background-color: gray;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ecf0f1;
    color: grey;
    text-align: center;
}

/*padroes de janela*/
.box-window {
    margin: 25px;
    border-radius: 3px;
    padding: 15px;
    background-color: white;
    border: #ecf0f1;
}

.box-window-6 {
    margin: 25px;
    border-radius: 3px;
    padding: 15px;
    background-color: white;
    border: #ecf0f1;
    width: 50%;
    margin-left: 25%;
}
.box-window-title {
    padding: 5px;
}

/*Formularios*/





